<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-black">
    <div class="bg-black text-center">
      <h1 class="text-center bg-gradient-to-t from-white via--500 to-blue-900 bg-clip-text text-transparent text-5xl font-bold mt-[7rem] p-10 m-0">Short.ly</h1>
      <p class="text-m text-gray-500">Make your links shorter</p>
    </div>
    <div class="text-center mt-[5rem] items-center flex-auto">
      <form action="" method="post">
        <input type="text" class="bg-white text-center rounded-md p-2" placeholder="Enter your link here">
        <input type="button" value="generate" class="bg-white text-center rounded-md p-2">
      </form>
    </div>
  </body>
</html>